
body {
	padding: 0px;
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
	background-color: #fcfcfc;
}

#swagIntro {
	width: 100%;
	border: none;
	background: url(content/home/fol5.jpg);
	background-repeat: no-repeat;
	background-origin: border-box;
	background-size: cover;
	background-position: center;
}

#neonInstallButton {
	background-color: #27ae60;
	color: #fcfcfc;
	border: none;
	border-radius: 3px;
	padding: 15px 40px;
	border: solid 1px rgba(0,0,0,.1);
	background-clip: padding-box;
	margin: 0px auto;
	font-size: 120%;
	cursor: pointer;
	transition: all .2s;
}

#neonInstallButton:hover {
	background-color: #2ecc71;
}

#introSocial {
	display: block;
	margin-top: 20px;
	background-color: transparent;
	border: none;
	text-align: center;
}

#introSocial a {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	box-sizing: border-box;
	margin: 0px 10px;
	border: solid 1px rgba(0,0,0,.1);
	background-clip: padding-box;
}

#introSocial a:after {
	line-height: 48px;
	font-size: 40px;
	text-shadow: none;
}

#homeSocialLinks {
	background-color: transparent;
	border: none;
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 120%;
}

.homeSocialLinks a {
	width: 60px;
	height: 60px;
	padding: 0px;
	line-height: 60px;
	border: solid 1px rgba(0,0,0,.2);
	border-radius: 100%;
	background-clip: padding-box;
	text-shadow: none;
	box-shadow: 0px 1px 20px rgba(0,0,0,.1);
	font-weight: normal !important;
}

.homeSocialLinks a + a {
	margin-left: 10px;
}

.homeSocialLinks a:after {
	font-size: 45px;
}
