<nav>
	<a href="https://www.kde.org/support/international.php">International Websites</a>
	<a href="https://docs.kde.org/">Documentation</a>
	<a href="https://userbase.kde.org/Welcome_to_KDE_UserBase">UserBase Wiki</a>
	<a href="https://bugs.kde.org/">Report an Issue</a>
	<a href="https://www.kde.org/info/security/">Security Advisories</a>
	<a href="https://userbase.kde.org/KDE_System_Administration">System Admin Wiki</a>
</nav>
